.container {
  font-family: "Roboto", sans-serif;
  max-width: 800px;
  margin: 30px auto;
  display: block;
  padding: 20px;
}

input {
  border: none;
  margin-left: 10px;
}
#search {
  margin: 0 auto;
  position: relative;
  left: 70px;
}
.searchForm {
  border: 2px solid #1aa179;
  margin: 0 auto;
  display: inline-block;
  border-radius: 20px;
  padding: 8px 10px;
  width: 75%;
}
.searchButton {
  border: 2px solid #1aa179;
  padding: 4px 10px;
  margin-right: 5px;
  border-radius: 20px;
  background: rgba(26, 161, 121, 0.1);
  position: relative;
  right: 180px;
  color: #06281e;
  font-weight: 600;
}
.currentButton {
  border: 2px solid #1aa179;
  padding: 4px 10px;
  margin-right: 5px;
  border-radius: 20px;
  background: rgba(26, 161, 121, 0.1);
  position: relative;
  left: -180px;
  color: #06281e;
  font-weight: 600;
}
.city {
  color: #13795b;
  margin: 0 auto;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 600;
  width: 85%;
}
.currentCity {
  list-style: none;
  padding: 55px 0px 10px 0px;
}
.weekDay,
.date {
  padding-right: 15px;
}
.imageCurrent {
  font-size: 100px;
  text-align: right;
  padding: 35px 5px;
}
.currentTemp {
  list-style: none;
  padding: 40px 0px;
}
.nowTemp {
  font-size: 60px;
}

a {
  color: #13795b;
  text-decoration: none;
}

.system {
  font-size: 24px;
}

.forecast {
  width: 80%;
  color: #13795b;
  margin: 0 auto;
  font-size: 22px;
  font-weight: 500;
  position: relative;
  right: 20px;
}
.forecast1,
.forecast2,
.forecast3,
.forecast4,
.forecast5 {
  list-style: none;
}

#gitHub {
  padding-left: 90px;
  margin: 0 auto;
  width: 85%;
}
